body {
  margin: 0;
  padding: 0;
  background-color: black;

  font-family: monospace;
  color: #ccc;
}

.content{
  width: 1120px;
  margin: 0 auto;
  padding-top: 355px;

  background-image: url("img/fon.jpg");
  background-repeat: no-repeat;
}

.filter_item {
  display: block;
}

.filter {
  /*float: left;*/
}

.information {
  /*float: right;*/
}
